body { font-family: 'Montserrat', sans-serif; font-weight: 300; font-size: 32px; overflow-x: hidden; }
a { text-decoration: none; color: inherit;  }
a, a::before, a::after, button {
    -webkit-transition: all .25s cubic-bezier(.215,.61,.355,1); -moz-transition: all .25s cubic-bezier(.215,.61,.355,1); -o-transition: all .25s cubic-bezier(.215,.61,.355,1); transition: all .25s cubic-bezier(.215,.61,.355,1);
}
h1 { font-size: 1.6rem; font-weight: 700; color: #354a9b; }
h2 { font-size: 1.0rem; font-weight: 300; }
nav { min-height: 66px; border-bottom: solid 1px #DCDEDD; /* background: url('images/head-kick.png') center -5px no-repeat; */ }
nav img { height: 100%; max-height: 60px; }
nav > div > div { padding: 10px; }
nav .col { /* border-left: solid 1px #DCDEDD; */ min-height: 66px; }
nav button.signin,
nav button.signup { text-align: center; border: none; font-size: 1.0rem; padding: 12px 24px; font-weight: 500; }
nav a.golink { font-size: 0.9rem; padding: 14px 24px; }
nav a.golink:hover { color: #354a9b; text-decoration: underline; }
nav a { display: flex; }
nav button.signup { background: #354a9b; color: #FFF; border-radius: 6px 0 0 6px; }
nav button.signup:hover { background: #5168c3; }
nav button.signin { background: #EFEFEF; color: #666; border-radius: 0 6px 6px 0; }
nav button.signin:hover { background: #CCC; }

.default main { position: relative; padding: 70px 0; }
.default main .title h1 { font-size: 1.6rem; text-align: center; margin-bottom: 30px; }
.default main .title p { font-size: 1.0rem; text-align: center; font-weight: 400; }

.default main .text h2 { font-size: 1.2rem; text-align: center; margin-bottom: 30px; font-weight: 700; color: #354a9b; }
.default main .text p { font-size: 1.0rem; }

.home nav { position: absolute; z-index: 1; background: rgba(0,0,0,0.65); border: none; }
.home nav a.golink { color: #FFF; }

#carouselMain .carousel-item button { text-align: center; border: none; font-size: 1.4rem; padding: 12px 60px; font-weight: 700; background: #ae07e5; box-shadow: 0px 0px 10px rgba(0,0,0,0.6); color: #FFF; border-radius: 6px; text-transform: uppercase; }
#carouselMain .carousel-item button:hover { background: #e400ff; }

.bgfff { background: #FFF; }
.linegray { border-bottom: solid 1px #DCDEDD; }
.project { background: #fbfbfa; position: relative; }
.project main { position: relative; }
.project main::after { content: ''; position: absolute; display: block; left: -50%; width: 150vw; height: 1px; bottom: 0; border-bottom: solid 1px #DCDEDD; }
.project .video { height: 460px; background: #CCC; position: relative; overflow: hidden; cursor: pointer; }
.project .video img { position: absolute; z-index: 0; transform: translate(50%, 0%); top: 0; left: -50%; width: 100%; }
.project .video i { position: absolute; z-index: 2; font-size: 26px; color: #FFF; top: calc(50% - 12px); left: calc(50% - 18px); cursor: pointer; }
.project .video i::before { position: relative; z-index: 2; }
.project .video i::after { content: ''; display: block; z-index: 1; border-radius: 8px; position: absolute; top: 50%; left: 50%; width: 100px; margin-left: -50px; height: 60px; margin-top: -30px; background: #ff4700; box-shadow: 0 0px 40px rgba(0,0,0,.8); }
.project .video::before { content: ''; z-index: 1; background: #000;  display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; opacity: 0;
    -webkit-transition: all .25s cubic-bezier(.215,.61,.355,1); -moz-transition: all .25s cubic-bezier(.215,.61,.355,1); -o-transition: all .25s cubic-bezier(.215,.61,.355,1); transition: all .25s cubic-bezier(.215,.61,.355,1);
}
.project .video:hover::before { opacity: .25; }
.project .infos { height: 460px; }
.project .infos .progress { border-radius: 4px!important; }
.project .infos .progress .bg-success { background-color: #05c471!important; }
.project .infos .price { padding: 15px 0 0 0; position: relative; }
.project .infos .price h3 { font-size: 32px; color: #05c471; font-weight: 700; padding: 0 0 5px 0; margin: 0; }
.project .infos .price h3 small { font-size: 60%; }
.project .infos .price p { font-size: 16px; margin: 0; padding: 0; }
.project .infos .price span { position: absolute; font-size: 42px; color: #05c471; font-weight: 700; top: 3%; right: 0; }
.project .infos .type { font-size: 0.8rem; margin-top: 5px; padding-bottom: 15px; }
.project .infos .type span { display: inline-block; padding: 6px 18px; background: #CCC; border-radius: 4px;  }
.project .infos .type span > * { display: inline-flex; align-items: center;  }
.project .infos .type span.flex { background: #ae07e5; color: #FFF; }
.project .infos .type span.all-in { background: #f5e202; color: #000; }
.project .infos .type span img { height: 26px; }
.project .infos .type span b { font-weight: 500; }
.project .infos .amount { padding: 20px 0; border-top: solid 1px #EFEFEF; }
.project .infos .amount .flex-fill { padding-left: 60px; }
.project .infos .amount .flex-fill:nth-child(1) { background: url('../images/icon-1.svg') top left no-repeat; background-size: contain; }
.project .infos .amount .flex-fill:nth-child(2) { background: url('../images/icon-2.svg') top left no-repeat; background-size: contain; }
.project .infos .amount .flex-fill > * { display: flex; }
.project .infos .amount .flex-fill b { font-weight: 600; line-height: 28px; color: #666; }
.project .infos .amount .flex-fill small { font-size: 50%; color: #333; }
.project .infos .actions { padding: 0 0 20px 0; margin-top: 25px; }
.project .infos .actions button.backer { width: 100%; text-align: center; border: none; border-radius: 6px; font-size: 20px; padding: 16px; background: #05c471; color: #FFF; font-weight: 700; }
.project .infos .actions button.backer:hover { background: #00dd7d; }
.project .infos .actions button.warn { margin-top: 20px; color: #666; text-align: center; border: none; border-radius: 6px; font-size: 14px; padding: 12px 30px; background: #CCC; font-weight: 500; min-width: 180px; }
.project .infos .actions button.warn:hover { background: #DDD; }
.project .infos .actions .final { font-size: 13px; font-weight: 500; padding: 24px 0px 20px 20px; color: #666; }
/* .project .infos .actions .share {  } */
.project .infos .actions .share span { font-size: 16px; font-weight: 600; color: #354a9b; padding: 10px 20px 10px 0; }
.project .infos .actions .share a { padding: 0 1.85%; color: #999 }
.project .infos .actions .share a:hover { color: #00dbf1; }
.project .extrainfos { padding-bottom: 4rem!important; }
.project .extrainfos p { font-size: 16px; }
.project .extrainfos .author { padding: 20px; background: #FFF; width: 100%; border-radius: 6px; box-shadow: 0px 2px 2px rgba(0,0,0,0.2); }
.project .extrainfos .author .author-photo { width: 90px; height: 90px; border-radius: 100%; overflow: hidden; box-shadow: 0px 0px 3px rgba(0,0,0,.35); }
.project .extrainfos .author .author-photo img { max-width: 100%; max-height: 100%; }
.project .extrainfos .author .author-infos { padding: 0 0 0 20px; }
.project .extrainfos .author .author-infos h4 { margin: 0 0 5px 0; font-size: 1.0rem; font-weight: 600; color: #666; }
.project .extrainfos .author .author-infos h5 { margin: 0; font-size: 0.8rem; font-weight: 300; color: #666; }
.project .extrainfos .author .author-social { padding-left: 15px; }
.project .extrainfos .author .author-social a { font-size: 1.3rem; padding: 0 1.85%; color: #999 }
.project .extrainfos .author .author-social a:hover { color: #00dbf1; }
.project .nav { height: 72px; background: #FFF; }
/* .project .nav li { } */
.project .nav li a { display: flex; position: relative; height: 100%; font-size: 14px; align-items: center; justify-content: center; margin-right: 50px; font-weight: 400; }
.project .nav li a.on { font-weight: 600; }
.project .nav li a::before { content: ''; display: block; position: absolute; bottom: 0; left: 50%; height: 4px; width: 0%; background: #354a9b; }
.project .nav li a:hover::before,
.project .nav li a.on::before { left: 0; width: 100%; }
.project .nav li a small { margin-left: 10px; padding: 2px 4px; background: #EFEFEF; border-radius: 2px;
    -webkit-transition: all .25s cubic-bezier(.215,.61,.355,1); -moz-transition: all .25s cubic-bezier(.215,.61,.355,1); -o-transition: all .25s cubic-bezier(.215,.61,.355,1); transition: all .25s cubic-bezier(.215,.61,.355,1);
}
.project .nav li a:hover small { background: #354a9b; color: #FFF; }
.project .nav li a.on:hover,
.project .nav li a.on,
.project .nav li a:hover { color: #354a9b; }
.project .content { min-height: 500px; padding: 60px 0; background: #FFF; }
.project .content img { width: 100%; max-width: 100%; }
.project .content .rewards { list-style: none; }
.project .content .rewards li { border: solid 1px #DCDEDD; border-radius: 6px; min-height: 200px; margin-bottom: 20px; }
.project .content .rewards li { padding: 30px; }
.project .content .rewards li,
.project .content .rewards li span i,
.project .content .rewards li span b,
.project .content .rewards li span button {
    -webkit-transition: all .25s cubic-bezier(.215,.61,.355,1); -moz-transition: all .25s cubic-bezier(.215,.61,.355,1); -o-transition: all .25s cubic-bezier(.215,.61,.355,1); transition: all .25s cubic-bezier(.215,.61,.355,1);
}
.project .content .rewards li:hover { border-color: #05c471; background: #fbfbfb; }
.project .content .rewards li h5 { margin: 0; font-weight: 300; font-size: 1.0rem; }
.project .content .rewards li h4 { margin: 0; font-weight: 500; font-size: 1.4rem; }
.project .content .rewards li p { font-size: 14px; font-weight: 400; }
.project .content .rewards li img { margin: 20px 0; }
.project .content .rewards li span { align-items: center; }
.project .content .rewards li span i { font-size: 1.3rem; border-radius: 100%; width: 22px; height: 22px; padding: 2px; text-align: center; cursor: pointer; }
.project .content .rewards li span i:hover { background: #05c471; color: #FFF;  }
.project .content .rewards li span input { font-size: 1.2rem; margin: 0 10px; border-radius: 4px; height: 40px; width: 40px; text-align: center; border: solid 1px #EFEFEF; }
.project .content .rewards li span b { font-size: 1.0rem; font-weight: 500; margin: 0 15px 0 25px; }
.project .content .rewards li span button { border-radius: 4px; font-size: 0.9rem; text-transform: uppercase; font-weight: 600; border: none; background: #EFEFEF; padding: 5px 20px; }
.project .content .rewards li span button:hover { background: #05c471; color: #FFF; }
.project .content .rewards li .delivery { font-size: 0.6rem; text-transform: uppercase; opacity: .6; font-weight: 600; margin: 20px 0 0 0; }
.project .content .rewards li .date { font-weight: 700; margin-bottom: 20px; }
.project .content .rewards li .nums { margin-top: 25px; }
.project .content .rewards li .nums i { background: #F7F7F7; padding: 2px 10px; margin-right: 10px; border-radius: 4px; font-size: 0.7rem; font-style: normal; text-transform: uppercase; font-weight: 600; }
footer { border-top: solid 1px #EFEFEF; min-height: 400px; padding: 50px 0 30px 0; }
footer img { max-height: 120px; }
/*footer div { border-right: solid 1px #EFEFEF; }*/
footer .share { padding: 30px 0; }
footer p { font-size: 0.85rem; font-weight: 400; margin: 0; }
footer .share a { padding: 0 3%; color: #354a9b }
footer .share a:hover { color: #00dbf1; }
footer button.news { position: relative; width: 100%; text-align: center; display: inline-block; border: none; border-radius: 6px; padding: 16px; background: #3b449c; color: #FFF; font-weight: 500; }
footer button.news:hover { background: #525fd7; }
footer button.news::before { content: ''; display: block; position: absolute; top: 5%; left: 2.5%; width: 95%; height: 90%; border: dashed 1px #FFF; border-radius: 6px; }
footer button.news img { max-height: 70px; }
footer button.news p { font-size: 1.0rem; padding: 0 10px; }
footer .footer-links h4 { color: #3b449c; font-size: 1.1rem; font-weight: 700; text-transform: uppercase; }
footer .footer-links a { font-size: 0.85rem; font-weight: 400; padding: 12px 0 10px 28px; background: url(images/meeple-icon.svg) center left no-repeat; background-size: contain; }
footer .footer-links a:hover { text-decoration: underline; }
footer .privacy { border-top: solid 1px #EFEFEF; margin-top: 50px; padding-top: 30px; }
footer .privacy a { padding: 4px 20px; font-size: 0.8rem; text-decoration: underline; font-weight: 400; }

@media (max-width: 768px){
    nav a.golink,
    nav button.signin,
    nav button.signup { position: relative; }
    .project .video img { position: relative; left: 0; transform: none; }
}

form label { font-size: 0.9rem; font-weight: 500; width: 100%; }
form input.form-control { padding: 0.7rem 1rem 0.6rem 1rem!important; }
form .forget { float: right; font-size: 0.8rem; }
form .form-check { display: block; min-height: 0.5rem; padding-left: 1em!important; margin-bottom: 0.125rem; height: 45px; }
form .form-check-input { width: 0.7em; height: 0.7em; margin-left: -2rem!important; }
form .form-check-label { margin-top: 10px!important; float: left; }
form button { text-align: center; border: none; font-size: 1.0rem; padding: 12px 24px; font-weight: 500; background: #354a9b; color: #FFF; border-radius: 6px; text-transform: uppercase; }
form button:hover { background: #5168c3; }

.faq .accordion-header button { background: #F9F9F9!important; font-weight: 600; color: #354a9b; }
.faq .accordion-body p { font-size: 1.0rem; }