/*
*  ESTRUTURA PADRÃO DO SITE
*/


/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');*/

:root {
    --primary: #4070f4;
    --secondary: #00004F;
    --terceary: #CFCFCF;
    --grey1: #EBEBEB;
    --grey2: rgba(217, 217, 217, 1.5);
    --grey3: rgba(91, 91, 91, 0.9);
    --white: #fff;
    --black: #000;
    --loader-bg:#fff;
    --loader-color: #4070f4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
    scroll-behavior: smooth;
}

.error:not('label') {
    border: 3px solid darkred;
    text-align: left;
}

.success:not('label') {
    boder: 3px solid green;
    text-align: left;
}

label.error {
    color: darkred;
    font-weight: 600;
    text-align: left;
}

label.success {
    color: green;
    font-weight: 600;
    text-align: left;
}

.paginator {
    list-style: none;
    padding: 0;
    margin-top: 30px;
}

.paginator_item {
    display: inline-block;
    margin: 0 10px;
    padding: 4px 12px;
    background: var(--primary);
    color: #fff;
    text-decoration: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.paginator_item:hover {
    background: #8A6ED5;
}

.paginator_active,
.paginator_active:hover {
    background: #cccccc;
}

pre {
    margin-top: 30px;
    background: #EEEEEE;
    padding: 10px;
}