.toast
{
    position: absolute;
    top: 25px;
    right: -30%;
    border-radius: 12px;
    background: #fff;
    padding: 20px 35px 20px 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    border-left: 6px solid #4070f4;
    overflow: hidden;
/*    transform: translateX(calc(100% + 30px));*/
    transition: all .5s cubic-bezier(.68, -.55, .265, 1.35);
}

.toast.active
{
/*    transform: translateX(0%);*/
    right: 30px;
}

.toast .toast-content
{
    display: flex;
    align-items: center;
}

.toast .toast-content .check
{
    height: 35px;
    width: 35px;
    background: #4070f4;
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
    display: flex;
    place-items: center;
    place-content: center;
}

.toast .toast-content .message
{
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.toast .toast-content .message .text
{
    font-size: 20px;
    font-weight: 400;
    color: #666666;
}

.toast .toast-content .message .text.text-1
{
    font-weight: 600;
    font-size: 18px;
    color: #333;
}

.toast .close
{
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 5px;
    cursor: pointer;
    opacity: .7;
    transition: .2 linear;
}

.toast .close:hover
{
    opacity: 1;
}

.toast .progress
{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background: #ddd;
}

.toast .progress:before
{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: #4070f4;
}

.progress.active::before
{
    animation: progress 5s linear forwards;
}

@keyframes progress
{
    100%
    {
        right: 100%;
    }
}

/*=========================================*/
.toast.success {
    border-left: 6px solid #27ae60;
}

.toast.success .toast-content .check {
    background: #27ae60;
}

.toast.success .progress:before
{
    background: #27ae60;
}

/*=========================================*/
.toast.warning {
    border-left: 6px solid #ff9800;
}

.toast.warning .toast-content .check {
    background: #ff9800;
}

.toast.warning .progress:before
{
    background: #ff9800;
}

/*=========================================*/
.toast.info {
    border-left: 6px solid #4070f4;
}

.toast.info .toast-content .check {
    background: #4070f4;
}

.toast.info .progress:before
{
    background: #4070f4;
}

/*=========================================*/
.toast.error {
    border-left: 6px solid #c51919;
}

.toast.error .toast-content .check {
    background: #c51919;
}

.toast.error .progress:before
{
    background: #c51919;
}